<html>
    <head>

        <title>BilalBank.com  - işlemler </title>

    </head>
    <body>

        <h1>ANA SAYFA</h1>

    <img src="https://images.pexels.com/photos/3298445/pexels-photo-3298445.jpeg?_gl=1*1juqpjy*_ga*MjQyODg1NDc1LjE3Mzc0ODA3OTY.*_ga_8JE65Q40S6*czE3NTA3ODc0NTgkbzIkZzEkdDE3NTA3ODc0NzckajQxJGwwJGgw" width="400" height="400" />






    </body>
</html>