

<h3>Görev Listesi</h3>

<a href="/Task/add" class="btn btn-info fw-bold float-end">Yeni Görev</a>

<table class="table mt-4">
    <tr>
        <th>Görev</th>
        <th>Açıklaması</th>
        <th>Aksiyonlar</th>
    </tr>


</table>